// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~admin-lte/plugins/font-awesome/css/font-awesome.min.css";
@import "~admin-lte/build/scss/AdminLTE-raw.scss";
@import '~vue-awesome-notifications/dist/styles/style.css';

body {
  font-family: $font-family-sans-serif;
}

.main-sidebar {
  z-index: 1000;
}

.main-header {
  z-index: 900;
}

.control-sidebar {
  z-index: 850;
  overflow-y: hidden;
}

.modal {
  z-index: 1050;
}

.card-table [name='Datatable'] .row {
  padding: 0rem 1rem 1rem 1rem;
}

.content-header {
  padding-left: 0;
  padding-right: 0;
}

.content-header .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.user-panel-icon {
  color: rgb(194, 199, 208);
  line-height: 34px;
  width: 1.6rem;
  font-size: 1.2rem;
  margin-left: 2px;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.awn-toast {
  font-family: $font-family-helvetica;
}

.calendar-icon .btn {
  white-space: normal !important;
  padding: 0 !important;
}

.calendar-icon .fa {
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
}

.calendar-icon .calendar-content {
  right: 0 !important;
  margin-top: 2px;
}

.report .table-hover tbody tr:hover {
  background-color: inherit !important;
}

.report .table-striped tbody tr:nth-of-type(2n+1) {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.card {
  .table-card tr:first-child td {
    border-top: 0px !important;
  }

  .table-card td {
    padding-left: 1.25rem;
  }
}

.item-action-buttons {
  a {
    padding-right: 10px;
  }

  a:hover {
    text-decoration: none;
  }
}


.tick {
  animation: tick 1s;
  animation-iteration-count: infinite;
}

@keyframes tick {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.background-blank {
  background: $login-primary-color;
  background: -webkit-linear-gradient(to bottom, $login-secondary-color, $login-primary-color);
  background: linear-gradient(to bottom, $login-secondary-color, $login-primary-color);
  background-repeat: no-repeat;
  margin: 0;
  float: left;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/*
 * Authorization pages
 */
.login-block {
  margin-top: 5%;

  form {
    color: $login-text;
  }
}

.banner-sec {
  background-color: #fff;
  background-size: cover;
  height: 500px;
  padding: 0;
}

.banner-sec:before {
  content: '';
  height: 80%;
  border-left: 1px #169a7c solid;
  display: inline-block;
  position: absolute;
  margin-top: 7%;
}

.container {
  background: #fff;
}

.carousel-placeholder {
  height: 500px;

  i {
    font-size: 150px;
    padding: 15px;
    text-align: center;
    color: $login-primary-color;
    margin-left: 65%;
    margin-top: 30px;
  }
}

.carousel-inner {
  border-radius: 0 10px 10px 0;
}

.carousel-caption {
  text-align: left;
  left: 5%;
}

.carousel-indicators li {
  background-color: $login-primary-color !important;
}

.carousel-indicators .active {
  background-color: $login-text !important;
}

.login-sec {
  padding: 50px 30px;
  position: relative;

  .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
  }

  .copy-text a {
    color: $login-primary-color;
  }

  h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: $login-primary-color;
  }

  h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: $login-primary-color;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
  }
}

.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}

.banner-text h2 {
  color: $login-text;
  font-weight: 600;
}

.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: $login-text;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}

.banner-text p, .banner-text ul {
  color: $login-text;
}

/*
 * Plugin: Select2
 * ---------------
 */
.select2-container--default.select2-container--focus, .select2-container--default:focus, .select2-container--default:active,
.select2-selection.select2-container--focus,
.select2-selection:focus,
.select2-selection:active {
  outline: none !important;
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
  border: 1px solid #d2d6de !important;
  padding: 6px 12px !important;
  height: 34px !important;
}

.select2-container--default.select2-container--open {
  border-color: #007bff !important;
}

.select2-dropdown {
  border: 1px solid #d2d6de !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #007bff !important;
  color: white !important;
}

.select2-results__option {
  padding: 6px 12px !important;
  user-select: none !important;
  -webkit-user-select: none !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: auto !important;
  margin-top: -4px !important;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 6px !important;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 28px !important;
  right: 3px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0 !important;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999 !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd !important;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[aria-selected=true]:hover {
  color: #444 !important;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #d2d6de !important;
}

.select2-container--default .select2-selection--multiple:focus {
  border-color: #007bff !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #d2d6de !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #007bff !important;
  border-color: #006fe6 !important;
  padding: 1px 10px !important;
  color: #ffffff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #ffffff !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 10px !important;
}

.dropdown-filters .select2-container {
  width: 100% !important;
}