// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~admin-lte/plugins/font-awesome/css/font-awesome.min.css";
@import "~admin-lte/build/scss/AdminLTE-raw.scss";
@import '~vue-awesome-notifications/dist/styles/style.css';


.user-panel i {
  font-size: 22px;
}

body {
  font-family: $font-family-sans-serif;
}

body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 57px) !important;
}

footer.sticky-footer {
  padding: 0 0 0 15px;
  position: absolute;
  bottom: 0;
  height: 56px;
  line-height: 55px;
  z-index: 1000;
  width: 100%;
}

.main-sidebar {
  z-index: 2000;
}

.main-header {
  z-index: 1200;
}

.control-sidebar {
  z-index: 1100;
}

.card-table {
  margin-bottom: 5rem !important;
}

.card-table [name='Datatable'] .row {
  padding: 0rem 1rem 1rem 1rem;
}

.content-header {
  padding-left: 0;
  padding-right: 0;
}

.content-header .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.user-panel-icon {
  color: rgb(194, 199, 208);
  line-height: 30px;
  width: 1.6rem;
  font-size: 1.2rem;
  margin-left: 2px;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.awn-toast {
  font-family: $font-family-helvetica;
}

/*
 * Plugin: Select2
 * ---------------
 */
.select2-container--default.select2-container--focus, .select2-container--default:focus, .select2-container--default:active,
.select2-selection.select2-container--focus,
.select2-selection:focus,
.select2-selection:active {
  outline: none !important;
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
  border: 1px solid #d2d6de !important;
  padding: 6px 12px !important;
  height: 34px !important;
}

.select2-container--default.select2-container--open {
  border-color: #007bff !important;
}

.select2-dropdown {
  border: 1px solid #d2d6de !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #007bff !important;
  color: white !important;
}

.select2-results__option {
  padding: 6px 12px !important;
  user-select: none !important;
  -webkit-user-select: none !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: auto !important;
  margin-top: -4px !important;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 6px !important;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 28px !important;
  right: 3px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0 !important;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999 !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd !important;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[aria-selected=true]:hover {
  color: #444 !important;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #d2d6de !important;
}

.select2-container--default .select2-selection--multiple:focus {
  border-color: #007bff !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #d2d6de !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #007bff !important;
  border-color: #006fe6 !important;
  padding: 1px 10px !important;
  color: #ffffff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #ffffff !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 10px !important;
}